ORACLE_DRIVER_MODE=auto
ORACLE_HOST=oracle-host
ORACLE_PORT=1521
ORACLE_SERVICE=oracle-service
ORACLE_USER=oracle-user
ORACLE_PASSWORD=oracle-password
ORACLE_CLIENT_LIB_DIR=C:\oracle\instantclient

SNOWFLAKE_ACCOUNT=snowflake-account
SNOWFLAKE_USER=snowflake-user
SNOWFLAKE_PRIVATE_KEY_PATH=C:\keys\snowflake\rsa_key.p8
SNOWFLAKE_PRIVATE_KEY_PASSPHRASE=
SNOWFLAKE_WAREHOUSE=snowflake-warehouse
SNOWFLAKE_DATABASE=SOLIX_BI
SNOWFLAKE_SCHEMA=DS
SNOWFLAKE_ROLE_INGESTAO=snowflake-role-ingestao
SNOWFLAKE_ROLE_DBT=snowflake-role-dbt
SNOWFLAKE_STAGE=@SOLIX_BI.DS.INTERNAL_STAGE
SNOWFLAKE_FILE_FORMAT=SOLIX_BI.DS.CSV_UTF8
